html, body {
    color: white;
    font-family: 'Jura';
    background-color: #363636;
    font-size: 16px;
}

header {
    padding: 15px;
    font-size: 33px;
    background-color: #2C2C2C;
}

a {
    color: white;
    text-decoration: underline;
}

header a {
    text-decoration: none;
}

.bahBtn {
    display: inline-block;
    width: 100%;
    text-align: center;
}

a:hover {
    color: #B1FFA5;
}

header .linksWrapper {
    text-align: center;
    margin-bottom: 0;
}

section {
    margin: 30px;
    padding: 25px;
    border-radius: 7px;
    background-color: #c4c4c430;
}

h1 {
    color: #B1FFA5;
    font-size: 33px;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 22px;
}


.ide {
    background-color: #363636;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

span.light {
    color: #AEAEAE;
}

.coder {
    background-color: #B1FFA5;
    color: black;
}

.coder:hover {
    color: #B1FFA5;
    border-color: #B1FFA5;
}

.btnCenter {
    text-align: center;
    margin-bottom: 10px;
}

.btnWrapper {
    max-width: 680px;
    margin-inline: auto;
    margin-bottom: 10px;
}

#editor { 
    width: 100%;
    height: 400px;
    border-radius: 7px;
}

#outputWrapper {
    width: 100%;
    height: 400px;
    border-radius: 7px;
    background-color: #363636;
    padding: 5px;
}

iframe {
    width: 100%;
    height: 390px;
}


@media only screen and (max-width: 770px) {
    .no-mobile {
        display:none;
    }

    header {
        font-size: 20px;
    }

    header .linksWrapper {
        font-size: 18px;
    }

    section {
        margin: 10px;
    }

}