blockquote {
    border-left: solid 7px #27cc35;
    padding: 10px;
}

body {
    padding:50px;
}

pre {
    background-color: #373737;
    padding: 30px;
    color: rgb(255 255 255 / 45%);
    border-radius: 5px;
    height:280px;
}

span_string {
    color:rgb(245 147 44 / 91%) !important
}
span_func {
    color:rgb(247 243 87 / 88%)
}
span_block {
    color:rgb(17 132 255 / 94%)
}
span_type {
    color:rgb(73 255 206 / 77%)
}
span_var {
    color:rgb(255 255 255 / 90%)
}
span_num {
    color:rgb(135 255 134 / 87%)
}
span_keyword {
    color:rgb(236 150 185 / 87%)
}
span_none {
    color: rgb(255 255 255 / 45%)
}
span_syntax {
    color: rgb(151 224 255 / 66%)
}